[buildout]
installed_develop_eggs = /media/some_ext/ch/cipher.longrequest/trunk/develop-eggs/cipher.longrequest.egg-link
parts = python test coverage coverage-test coverage2-test coverage-report tags

[python]
__buildout_installed__ = /media/some_ext/ch/cipher.longrequest/trunk/parts/python
	/media/some_ext/ch/cipher.longrequest/trunk/parts/python/sitecustomize.py
	/media/some_ext/ch/cipher.longrequest/trunk/parts/python/site.py
	/media/some_ext/ch/cipher.longrequest/trunk/bin/python
__buildout_signature__ = z3c.recipe.scripts-1.0.1-py2.7.egg setuptools-0.6c11-py2.7.egg zc.recipe.egg-1.3.0-py2.7.egg zc.buildout-1.5.0-py2.7.egg
_b = /media/some_ext/ch/cipher.longrequest/trunk/bin
_d = /media/some_ext/ch/cipher.longrequest/trunk/develop-eggs
_e = /work/.buildout/eggs
allowed-eggs-from-site-packages = *
bin-directory = /media/some_ext/ch/cipher.longrequest/trunk/bin
develop-eggs-directory = /media/some_ext/ch/cipher.longrequest/trunk/develop-eggs
eggs = cipher.longrequest [test]
eggs-directory = /work/.buildout/eggs
exec-sitecustomize = false
executable = /usr/bin/python
include-site-packages = false
index = http://pypi.python.org/simple/
interpreter = python
parts-directory = /media/some_ext/ch/cipher.longrequest/trunk/parts/python
python = buildout
recipe = z3c.recipe.scripts

[test]
__buildout_installed__ = /media/some_ext/ch/cipher.longrequest/trunk/parts/test
	/media/some_ext/ch/cipher.longrequest/trunk/parts/test/site-packages
	/media/some_ext/ch/cipher.longrequest/trunk/parts/test/working-directory
	/media/some_ext/ch/cipher.longrequest/trunk/parts/test/site-packages/sitecustomize.py
	/media/some_ext/ch/cipher.longrequest/trunk/parts/test/site-packages/site.py
	/media/some_ext/ch/cipher.longrequest/trunk/bin/test
__buildout_signature__ = zc.recipe.testrunner-1.4.0-py2.7.egg z3c.recipe.scripts-1.0.1-py2.7.egg setuptools-0.6c11-py2.7.egg zope.testrunner-4.0.4-py2.7.egg zc.buildout-1.5.0-py2.7.egg zc.recipe.egg-1.3.0-py2.7.egg zope.interface-3.6.1-py2.7-linux-x86_64.egg zope.exceptions-3.6.1-py2.7.egg
_b = /media/some_ext/ch/cipher.longrequest/trunk/bin
_d = /media/some_ext/ch/cipher.longrequest/trunk/develop-eggs
_e = /work/.buildout/eggs
allowed-eggs-from-site-packages = *
bin-directory = /media/some_ext/ch/cipher.longrequest/trunk/bin
defaults = ['--tests-pattern', '^f?tests$$', '-v']
develop-eggs-directory = /media/some_ext/ch/cipher.longrequest/trunk/develop-eggs
eggs = cipher.longrequest [test]
eggs-directory = /work/.buildout/eggs
exec-sitecustomize = false
executable = /usr/bin/python
include-site-packages = false
index = http://pypi.python.org/simple/
location = /media/some_ext/ch/cipher.longrequest/trunk/parts/test/working-directory
parts-directory = /media/some_ext/ch/cipher.longrequest/trunk/parts/test
python = buildout
recipe = zc.recipe.testrunner
script = /media/some_ext/ch/cipher.longrequest/trunk/bin/test

[coverage]
__buildout_installed__ = /media/some_ext/ch/cipher.longrequest/trunk/parts/coverage
	/media/some_ext/ch/cipher.longrequest/trunk/parts/coverage/sitecustomize.py
	/media/some_ext/ch/cipher.longrequest/trunk/parts/coverage/site.py
	/media/some_ext/ch/cipher.longrequest/trunk/bin/coverage
__buildout_signature__ = z3c.recipe.scripts-1.0.1-py2.7.egg setuptools-0.6c11-py2.7.egg zc.recipe.egg-1.3.0-py2.7.egg zc.buildout-1.5.0-py2.7.egg
_b = /media/some_ext/ch/cipher.longrequest/trunk/bin
_d = /media/some_ext/ch/cipher.longrequest/trunk/develop-eggs
_e = /work/.buildout/eggs
allowed-eggs-from-site-packages = *
bin-directory = /media/some_ext/ch/cipher.longrequest/trunk/bin
develop-eggs-directory = /media/some_ext/ch/cipher.longrequest/trunk/develop-eggs
eggs = coverage
eggs-directory = /work/.buildout/eggs
exec-sitecustomize = false
executable = /usr/bin/python
include-site-packages = false
index = http://pypi.python.org/simple/
parts-directory = /media/some_ext/ch/cipher.longrequest/trunk/parts/coverage
python = buildout
recipe = z3c.recipe.scripts

[coverage-test]
__buildout_installed__ = /media/some_ext/ch/cipher.longrequest/trunk/parts/coverage-test
	/media/some_ext/ch/cipher.longrequest/trunk/parts/coverage-test/site-packages
	/media/some_ext/ch/cipher.longrequest/trunk/parts/coverage-test/working-directory
	/media/some_ext/ch/cipher.longrequest/trunk/parts/coverage-test/site-packages/sitecustomize.py
	/media/some_ext/ch/cipher.longrequest/trunk/parts/coverage-test/site-packages/site.py
	/media/some_ext/ch/cipher.longrequest/trunk/bin/coverage-test
__buildout_signature__ = zc.recipe.testrunner-1.4.0-py2.7.egg z3c.recipe.scripts-1.0.1-py2.7.egg setuptools-0.6c11-py2.7.egg zope.testrunner-4.0.4-py2.7.egg zc.buildout-1.5.0-py2.7.egg zc.recipe.egg-1.3.0-py2.7.egg zope.interface-3.6.1-py2.7-linux-x86_64.egg zope.exceptions-3.6.1-py2.7.egg
_b = /media/some_ext/ch/cipher.longrequest/trunk/bin
_d = /media/some_ext/ch/cipher.longrequest/trunk/develop-eggs
_e = /work/.buildout/eggs
allowed-eggs-from-site-packages = *
bin-directory = /media/some_ext/ch/cipher.longrequest/trunk/bin
defaults = ['--tests-pattern', '^f?tests$$', '-v']
develop-eggs-directory = /media/some_ext/ch/cipher.longrequest/trunk/develop-eggs
eggs = cipher.longrequest [test]
	coverage
eggs-directory = /work/.buildout/eggs
exec-sitecustomize = false
executable = /usr/bin/python
include-site-packages = false
index = http://pypi.python.org/simple/
initialization = %(__buildout_space_n__)s# haaaaack because zc.testrunner 1.4.0 produces an _insane_ bin/test
	# that cannot be run with bin/coverage run bin/test, or even
	# bin/python bin/test
	import coverage, atexit
	c = coverage.coverage(data_file='/media/some_ext/ch/cipher.longrequest/trunk/.coverage',
	source=['cipher.longrequest'])
	def _when_done(c=c): c.stop(), c.save()
	atexit.register(_when_done)
	c.start()
location = /media/some_ext/ch/cipher.longrequest/trunk/parts/coverage-test/working-directory
parts-directory = /media/some_ext/ch/cipher.longrequest/trunk/parts/coverage-test
python = buildout
recipe = zc.recipe.testrunner
script = /media/some_ext/ch/cipher.longrequest/trunk/bin/coverage-test

[coverage2-test]
__buildout_installed__ = /media/some_ext/ch/cipher.longrequest/trunk/parts/coverage2-test
	/media/some_ext/ch/cipher.longrequest/trunk/parts/coverage2-test/site-packages
	/media/some_ext/ch/cipher.longrequest/trunk/parts/coverage2-test/working-directory
	/media/some_ext/ch/cipher.longrequest/trunk/parts/coverage2-test/site-packages/sitecustomize.py
	/media/some_ext/ch/cipher.longrequest/trunk/parts/coverage2-test/site-packages/site.py
	/media/some_ext/ch/cipher.longrequest/trunk/bin/coverage2-test
__buildout_signature__ = zc.recipe.testrunner-1.4.0-py2.7.egg z3c.recipe.scripts-1.0.1-py2.7.egg setuptools-0.6c11-py2.7.egg zope.testrunner-4.0.4-py2.7.egg zc.buildout-1.5.0-py2.7.egg zc.recipe.egg-1.3.0-py2.7.egg zope.interface-3.6.1-py2.7-linux-x86_64.egg zope.exceptions-3.6.1-py2.7.egg
_b = /media/some_ext/ch/cipher.longrequest/trunk/bin
_d = /media/some_ext/ch/cipher.longrequest/trunk/develop-eggs
_e = /work/.buildout/eggs
allowed-eggs-from-site-packages = *
bin-directory = /media/some_ext/ch/cipher.longrequest/trunk/bin
defaults = ['--coverage', '/media/some_ext/ch/cipher.longrequest/trunk/coverage']
develop-eggs-directory = /media/some_ext/ch/cipher.longrequest/trunk/develop-eggs
eggs = cipher.longrequest [test]
eggs-directory = /work/.buildout/eggs
exec-sitecustomize = false
executable = /usr/bin/python
include-site-packages = false
index = http://pypi.python.org/simple/
location = /media/some_ext/ch/cipher.longrequest/trunk/parts/coverage2-test/working-directory
parts-directory = /media/some_ext/ch/cipher.longrequest/trunk/parts/coverage2-test
python = buildout
recipe = zc.recipe.testrunner
script = /media/some_ext/ch/cipher.longrequest/trunk/bin/coverage2-test

[coverage-report]
__buildout_installed__ = /media/some_ext/ch/cipher.longrequest/trunk/parts/coverage-report
	/media/some_ext/ch/cipher.longrequest/trunk/parts/coverage-report/sitecustomize.py
	/media/some_ext/ch/cipher.longrequest/trunk/parts/coverage-report/site.py
	/media/some_ext/ch/cipher.longrequest/trunk/bin/coverage-report
__buildout_signature__ = z3c.recipe.scripts-1.0.1-py2.7.egg setuptools-0.6c11-py2.7.egg zc.recipe.egg-1.3.0-py2.7.egg zc.buildout-1.5.0-py2.7.egg
_b = /media/some_ext/ch/cipher.longrequest/trunk/bin
_d = /media/some_ext/ch/cipher.longrequest/trunk/develop-eggs
_e = /work/.buildout/eggs
allowed-eggs-from-site-packages = *
arguments = %(__buildout_space_n__)s('/media/some_ext/ch/cipher.longrequest/trunk/coverage',
	'/media/some_ext/ch/cipher.longrequest/trunk/coverage/report')
bin-directory = /media/some_ext/ch/cipher.longrequest/trunk/bin
develop-eggs-directory = /media/some_ext/ch/cipher.longrequest/trunk/develop-eggs
eggs = z3c.coverage
eggs-directory = /work/.buildout/eggs
exec-sitecustomize = false
executable = /usr/bin/python
include-site-packages = false
index = http://pypi.python.org/simple/
parts-directory = /media/some_ext/ch/cipher.longrequest/trunk/parts/coverage-report
python = buildout
recipe = z3c.recipe.scripts
scripts = coveragereport=coverage-report

[tags]
__buildout_installed__ = /media/some_ext/ch/cipher.longrequest/trunk/parts/tags
	/media/some_ext/ch/cipher.longrequest/trunk/parts/tags/sitecustomize.py
	/media/some_ext/ch/cipher.longrequest/trunk/parts/tags/site.py
	/media/some_ext/ch/cipher.longrequest/trunk/bin/tags
__buildout_signature__ = z3c.recipe.tag-0.4.1-py2.7.egg z3c.recipe.scripts-1.0.1-py2.7.egg zc.buildout-1.5.0-py2.7.egg setuptools-0.6c11-py2.7.egg zc.recipe.egg-1.3.0-py2.7.egg
_b = /media/some_ext/ch/cipher.longrequest/trunk/bin
_d = /media/some_ext/ch/cipher.longrequest/trunk/develop-eggs
_e = /work/.buildout/eggs
allowed-eggs-from-site-packages = *
bin-directory = /media/some_ext/ch/cipher.longrequest/trunk/bin
develop-eggs-directory = /media/some_ext/ch/cipher.longrequest/trunk/develop-eggs
eggs = cipher.longrequest [test]
eggs-directory = /work/.buildout/eggs
exec-sitecustomize = false
executable = /usr/bin/python
include-site-packages = false
index = http://pypi.python.org/simple/
parts-directory = /media/some_ext/ch/cipher.longrequest/trunk/parts/tags
python = buildout
recipe = z3c.recipe.tag
script = /media/some_ext/ch/cipher.longrequest/trunk/bin/tags
